@model IEnumerable<HOATest.Web.Models.BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="parent-container d-flex">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-lg-12">
                    <div class="card" style="width: 65rem;">
                        <div class="card-body">
                            <section>
                                <div class="form-row">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="col form-group col-lg-2">
                                            <a asp-action="GetBooks" class="btn btn-primary btn-sm" style="width:160px;">Get Books</a>

                                        </div>
                                        <div class="col form-group">
                                            <a asp-action="Create" class="btn btn-secondary btn-sm" style="width:160px;"><i class="fa fa-plus" aria-hidden="true"></i>   Create New</a>
                                        </div>
                                    }
                                    else { <div class="text-center">
                                               <blockquote class="blockquote">
                                                   <p class="h3">Welcome to HOA Web App Test.</p>
                                                  <p></p><hr />
                                                   <p class="mb-0">
                                                       Learn more about HOA Web API which has been protected with Azure AD. You can read documentation about <a href="https://localhost:44327/swagger">HOA Web API</a> here.
                                                       The Web and API has been built in ASP.NET Core. You can use single Sign-In using Facebook, Github or Email.
                                                       <br />So, let us give a  try and sign in first to web application. I hope you will love it. :-) Happy Coding!
                                                   </p><footer class="blockquote-footer">WasimUl Masood <cite title="Source Title">Building High performance Apps</cite></footer>
                                               </blockquote>
                                    </div>}
                                    </div>
                                   
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><p></p>
<hr />
@if (Model != null)
{
    <div class="parent-container d-flex">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col-lg-12">
                        <div class="card" style="width: 65rem;">
                            <div class="card-body">
                                <section>
                                    <partial name="_BooksView" />
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     }
